<!DOCTYPE html>
<html>
<head>
  <title>Qtunes</title>
  <link rel="stylesheet" href="/screen.css" type="text/css" />
</head>

<body>
  <div class='container'>
    <div class='header'>
      <h1><a href='/'>Qtunes</a></h1>

      <ul class="nav">
        <li>
          <a href="/">Queue (<%= queue.size %>)</a>
        </li>
        <li>
          <a href="/library">Library</a>
        </li>
      </ul>
    </div>

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>

    <div class='main'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
