<!DOCTYPE html>
<html>
<head>
  <title>Qtunes</title>
  <link rel="stylesheet" href="/base.css" type="text/css" />
</head>

<body>
  <h1>Qtunes</h1>

  <div class="navigation">
    <a href="/">Queue</a>
    <a href="/library">Library</a>
  </div>

  <%= yield %>
</body>
</html>
