<!DOCTYPE html>
<html>
<head>
  <title>Qtunes</title>
  <link rel="stylesheet" href="/screen.css" type="text/css" />
</head>

<body>
  <div class='container'>
    <div class='header'>
      <h1><a href='/'>Qtunes</a></h1>

      <ul class="nav">
        <li>
          <a href="/">Queue (<%= queue.size %>)</a>
        </li>
        <li>
          <a href="/library">Library</a>
        </li>
      </ul>
    </div>

    <div class='main'>
      <% if flash[:notice] %>
        <p class="flash notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="flash error"><%= flash[:error] %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
