<%= erb :_song, {}, {:song => @current, :current => true} %>

<% if @songs.any? %>
  <%= erb :_paginate_artists if @page %>

  <% @songs.each_with_index do |song,ix| %>
    <%= erb :_song, {}, {:song => song} %>
  <% end %>

  <%= erb :_paginate_artists if @page %>
<% else %>
  <div class="content">
    No more songs found!
  </div>
<% end %>
